
<ul class="wizard_steps anchor steps-indicator steps-{{getEnabledSteps().length}}" ng-if="!hideIndicators">
						<li ng-class="{default: !step.completed && !step.selected, current: step.selected && !step.completed, done: step.completed && !step.selected, editing: step.selected && step.completed}" ng-repeat="step in getEnabledSteps()">
							<a class="selected" isdone="1" rel="1" ng-click="goTo(step)">
								<span class="step_no">1</span>
								<span class="step_descr">                                              Paso 1<br>
                                              <small>Programación diaria</small>
                                          </span>
							</a>
						</li>
						<li>
							<a class="disabled" isdone="0" rel="2" ng-click="goTo(step)">
								<span class="step_no">2</span>
								<span class="step_descr">
                                              Step 2<br>
                                              <small>Step 2 description</small>
                                          </span>
							</a>
						</li>
						<li>
							<a class="disabled" isdone="0" rel="3" ng-click="goTo(step)">
								<span class="step_no">3</span>
								<span class="step_descr">
                                              Step 3<br>
                                              <small>Step 3 description</small>
                                          </span>
							</a>
						</li>
						<li>
							<a class="disabled" isdone="0" rel="4" >
								<span class="step_no">4</span>
								<span class="step_descr">
                                              Step 4<br>
                                              <small>Step 4 description</small>
                                          </span>
							</a>
						</li>
					</ul>