<div class="x_panel">
	<div class="x_title">
		<h2>Roles de usuario</h2>
		<ul class="nav navbar-right panel_toolbox">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="newuser()" >Nuevo</button>
		</ul>
		<div class="clearfix"></div>
	</div>
	<div class="x_content">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Usuario</th>
					<th>Nombre</th>
					<th>Correo</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users" ng-class="{selectelement:userselected.id==user.id}">
					<td>{{user.username}}</td>
					<td>{{user.fullName}}</td>
					<td>{{user.email}}</td>
					<td ng-click="selecteduser(user,1)"><i class="material-icons center" title="Editar">mode_edit</i></td>
					<td ng-click="selecteduser(user,2)"><i class="material-icons center" title="Eliminar">delete</i></td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
<div id="modaledituser" class="modal fade bs-example-modal-lg">
	<div class="modal-content">
		<h3>Registrar usuario</h3>
		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s4">
						<input id="username" type="text" class="validate" ng-model="edituser.username">
						<label for="username" class="active">Usuario</label>
					</div>
					<div class="input-field col s4">
						<input id="password" type="password" class="validate" ng-model="edituser.password">
						<label for="password" class="active">Contraseña</label>
					</div>
					<div class="input-field col s4">
						<select id="idrole" class="browser-default" ng-options="role.title for role in listrole" ng-model="selectedrole">
                        </select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s4">
						<input id="firstname" type="text" class="validate" ng-model="edituser.firstname">
						<label for="firstname" class="active">Nombre(s)</label>
					</div>
					<div class="input-field col s4">
						<input id="lastname" type="text" class="validate" ng-model="edituser.lastname">
						<label for="lastname" class="active">Apellido</label>
					</div>
					<div class="input-field col s4">
						<input id="email" type="email" class="validate" ng-model="edituser.email">
						<label for="email" data-error="wrong" data-success="right" class="active">Correo</label>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button class="modal-action modal-close waves-effect waves-red btn-flat">Cancelar</button>
		<button class="modal-action modal-close waves-effect waves-green btn-flat" ng-disabled="validatecontrols()" ng-click="saveuser()">Aceptar</button>
	</div>
</div>
<div id="modaldeleteuser" class="modal modal-fixed-footer" style="height: 200px !important">
	<div class="modal-content">
		<h3>Eliminar usuario</h3>
		<div class="row">
			<form class="col s12">
				<label for="title">¿Esta seguro de eliminar el registro?</label>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button class="modal-action modal-close waves-effect waves-red btn-flat">Cancelar</button>
		<button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="deleteuser()">Aceptar</button>
	</div>
</div>