<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Codigo de control</h2>
				<div class="clearfix"></div>
				<button type="button" class="btn btn-default pull-right btnborderless" 
					ng-click="saveinvoice()" title="Nuevo"><i class="fa fa-plus-square"></i> Nuevo</button>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">

				<div class="row">
					<label id="qrinvoice"></label>
				</div>
			</div>
		</div>
	</div>



	<div id="modal" class="modal fade bs-example-modal-lg" tabindex="-1" travel="dialog" aria-hidden="true" style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<h3>Registrar libro de ordenes</h3>
				<div class="row">
					
				</div>
			</div>
			<div class="modal-footer">
				<button class="modal-action modal-close waves-effect waves-red btn-flat">Cancelar</button>
				<button class="modal-action modal-close waves-effect waves-green btn-flat" ng-disabled="validatecontrols()" ng-click="saveinvoice()">Aceptar</button>
			</div>
		</div>
	</div>