@charset "UTF-8";

.validationerror{
  float: right;
  margin: 0 0 0 20px;
  padding: 0px 10px;
  color: #FFF;
  border-radius: 3px 4px 4px 3px;
  background-color: #CE5454;
  max-width: 250px;
  white-space: pre;
  position: relative;
  left: 0px;
  z-index: 1;
  transition: 0.15s ease-out;
}

.validateInput{
  border: 1px solid #CE5454;
}

.textUpperCase{
  text-transform: uppercase;
}

.btnborderless{
  border-color: transparent !important;
}

.pagination a{
  cursor: pointer !important;
}

.pagination{
      margin-top: 0px !important;
}